<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091138737072-3bv2ickvobpu9tl292id72csbqk4h7it.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091138737072-3bv2ickvobpu9tl292id72csbqk4h7it</string>
	<key>API_KEY</key>
	<string>AIzaSyAsdboeIc3YvIJsuKUGwFRV4QydeaIAsq4</string>
	<key>GCM_SENDER_ID</key>
	<string>1091138737072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.donationappwithmap</string>
	<key>PROJECT_ID</key>
	<string>donationa-9904e</string>
	<key>STORAGE_BUCKET</key>
	<string>donationa-9904e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091138737072:ios:271e2c0643519c28c67c75</string>
</dict>
</plist>